@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-img{
    height: 700px;
    width: 750px;
}

@media (max-width:993px) {
    .hero-img{
        height: 400px;
        width: 400px;
        padding-left: 0;
    }
    .modal-content{
        display:flex ;
        flex-direction: column;
        gap:20px ;
    }
    .close{
        position: relative;
        
        left: 500px;
        cursor: pointer;
        font-size: 20px;
    }
}
.vertical-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px; 
    width: 50px; 
}

.vertical-button span {
    display: block;
    transform: rotate(360deg);
    margin: 4px 0; 
}
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .modal.open {
    display: block;
  }
  
  .modal-content {
    width: 600px;
    margin: 0 auto;
  
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
  }